@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

:root {
  color: #0f172a;
  background-color: #f8fafc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', system, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background-color: #f8fafc;
}

#root {
  min-height: 100vh;
}
